@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
}

.main-card {
  max-width: 900px;
  display: flex;
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
}

.left-container {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.left-container h2 {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.left-container h3 {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
}

.left-container p {
  color: hsla(0, 0%, 100%, 0.6);
}

img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: 0 8px 8px 0;
}

.image-container {
  max-width: 50%;
  background-color: hsl(277, 64%, 61%);
  border-radius: 0 8px 8px 0;
}

.main-stats {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  body {
    height: auto;
  }

  .main-card {
    max-width: 375px;
    flex-direction: column-reverse;
    margin: 4rem 2rem;
  }

  .left-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  img {
    border-radius: 8px 8px 0 0;
    height: 310px;
  }

  .image-container {
    max-width: 100%;
    height: 310px;
    border-radius: 8px 8px 0 0;
  }

  .main-stats {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
